/* App.css */
.app-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
  }
}
